.home-banner-slider-wrapper {
    height: 100vh;
    position: relative;
    z-index: 2;
    margin-top: -25px;
    img {
        object-fit: unset;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        height: 90vh;
    }

    .home-banner-slider {
        height: 100vh;
        width: 100%;
        .slick-arrow {
            top: unset;
            bottom: 143px;
            z-index: 1;
            border: 1px solid $white;
            background: rgba(255, 255, 255, 0.2);
            width: 120px;
            height: 72px;
            @media (min-width: 768px) and (max-width: 1023px) {
                bottom: 250px;
                width: 90px;
                height: 60px;
            }

            @media (max-width: 767px) {
                bottom: 100px;
                width: 80px;
                height: 50px;
            }
            &.slick-next,
            &.slick-prev {
                &::before {
                    content: "" !important;
                    background-image: url("../../assets/images/arrow-right-white.svg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    opacity: 1;
                }
            }
            &.slick-disabled {
                opacity: 0.6;
            }
            &.slick-next {
                right: 130px;
                @media (min-width: 768px) and (max-width: 1023px) {
                    right: 60px;
                }
                @media (max-width: 767px) {
                    right: 25%;
                }
            }
            &.slick-prev {
                left: unset;
                right: 277px;

                @media (min-width: 768px) and (max-width: 1023px) {
                    right: 180px;
                }

                @media (max-width: 767px) {
                    right: unset;
                    left: 25%;
                }

                &::before {
                    transform: scale(-1);
                }
            }
        }
        .slick-list {
            height: 100vh;
            width: 100%;
            .slick-track {
                height: 100%;
            }
            .home-banner-slider-item {
                position: relative;
    
                .home-banner-slider-img {
                    position: relative;
                    height: 100%;
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        background: linear-gradient(0deg, $black 0%, rgba(8, 67, 69, 0.00) 100%);
                    }
                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                .sider-content-box-wrapper {
                    position: absolute;
                    top: 60%;
                    transform: translateY(-100%);
                    left: 130px;
                    max-width: 960px;

                    @media (min-width: 1024px) and (max-width: 1199px) {
                        left: 40px;
                        max-width: 860px;
                    }

                    @media (min-width: 768px) and (max-width: 1023px) {
                        left: 40px;
                        max-width: 670px;
                    }

                    @media (max-width: 767px) {
                        left: 0px;
                        padding: 0 20px;
                        max-width: 100%;
                        top: 65%;
                    }

                    .sider-content-title {
                        color: $white;
                        margin-bottom: 40px;
                    }

                    .btn {
                        width: fit-content;
                    }
                }
            }
        }
    }
}

.love-to-learn-about-wrapper {
    background-image: url("../../assets/images/animalsyouwilllove1-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    padding: 120px 0 100px;
    position: relative;
    top: -80px;
    z-index: 3;
    display: inline-block;
    @media (max-width: 767px) {
        background-position: right top;
        padding-bottom: 100px;
    }

    .love-to-learn-about-item-wrapper {
        .love-to-learn-about-item-top,
        .love-to-learn-about-item-bottom {
            display: flex;
            max-width: 1200px;
            margin-bottom: 70px;

            @media (min-width: 1024px) and (max-width: 1199px) {
                max-width: 100%;
            }
            @media (max-width: 1023px) {
                flex-direction: column;
                margin-bottom: 0;
            }
        }

        .love-to-learn-about-item {
            width: 50%;
            margin-right: 90px;
            @media (min-width: 1024px) and (max-width: 1199px) {
                margin-right: 40px;
            }
            @media (max-width: 1023px) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 70px;
            }
            @media (max-width: 767px) {
                margin-bottom: 40px;
            }
            &:last-child {
                margin-right: 0;
            }
            .love-to-learn-about-img-wrapper {
                width: 100%;
                height: 360px;
                position: relative;
                margin-bottom: 40px;
                @media (min-width: 1024px) and (max-width: 1199px) {
                    height: 280px;
                }
                @media (max-width: 767px) {
                    height: 280px;
                }
                img {
                    border-radius: 10px;
                }
                .love-to-learn-about-cat {
                    @include flex(center, center, null, null);
                    position: absolute;
                    left: 20px;
                    bottom: -25px;
                    background: url("../../assets/images/social-bg.png") no-repeat;
                    background-size: 100% 100%;
                    min-height: 55px;
                    min-width: 160px;
                    max-width: 200px;
                    width: 200px;
                    white-space: unset;
                    color: #26201b;
                    padding: 10px 20px;
                }
            }

            .love-to-learn-about-content-wrapper {
                padding-right: 100px;
                position: relative;
                @media (max-width: 767px) {
                    padding-right: 85px;
                }
                span {
                    max-width: 450px;
                    display: inline-block;
                    color: $white;
                    @extend .text-20;

                    @media (max-width: 1023px) {
                        max-width: 550px;
                    }
                }

                .love-to-learn-link {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    &::after {
                        content: "";
                        cursor: pointer;
                        background-image: url("../../assets/images/arrow-right-white.svg");
                        background-repeat: no-repeat;
                        background-size: contain;
                        height: 40px;
                        width: 40px;
                        display: inline-block;
                        transition: transform 0.3s ease-out;
                    }
                    &:hover {
                        &::after {
                            transform: translateX(8px);
                        }
                    }
                }

            }
        }

        .love-to-learn-about-item-bottom {
            margin-left: auto;
        }
    }
}

.explore-the-diversity {
    padding: 10px 0 100px;

    .slick-arrow {
        z-index: 1;
        background: rgba(0, 0, 0, 0.3);
        width: 48px;
        height: 48px;
        border-radius: 100%;
        @media (min-width: 768px) and (max-width: 1023px) {
            width: 38px;
            height: 38px;
        }

        @media (max-width: 767px) {
            width: 38px;
            height: 38px;
            top: unset;
            bottom: -55px;
        }
        &.slick-next,
        &.slick-prev {
            &::before {
                content: "" !important;
                background-image: url("../../assets/images/arrow-small-right-black.svg");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: 30px;
                height: 30px;
                display: inline-block;
                opacity: 1;
            }
        }
        &.slick-disabled {
            opacity: 0.6;
        }
        &.slick-next {
            @media (min-width: 768px) and (max-width: 1023px) {
                right: 0;
            }
            @media (max-width: 767px) {
                right: 100px;
            }
        }
        &.slick-prev {
            @media (min-width: 768px) and (max-width: 1023px) {
                left: 0;
            }
            @media (max-width: 767px) {
                left: 100px;
            }
            &::before {
                transform: scale(-1);
            }
        }
    }

    a.btn {
        display: flex;
        width: fit-content;
        margin-left: auto;
        margin-bottom: 40px;
    }

    .explore-the-diversity-card-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;

        .slick-list {
            width: 100%;
            .slick-track {
                width: 100%;
            }
        }

        .explore-the-diversity-card-item {
            padding: 0 10px;
            margin-bottom: 20px;
            @include flex(null, null, null, column);
            width: calc(100% / 4);
            @media screen and (max-width: 1199px){
                width: calc(100% / 3);
            }
            @media screen and (max-width: 1023px){
                width: calc(100% / 2);
            }
            @media screen and (max-width: 767px){
                width: 100%;
            }
            &.item-2{
                width: calc(100% / 2);
                @media screen and (max-width: 767px){
                    width: 100%;
                }
            }
            &.item-3{
                width: calc(100% / 3);
                @media screen and (max-width: 767px){
                    width: 100%;
                }
            }
            .explore-the-diversity-card-img-wrapper {
                position: relative;
                margin-bottom: 15px;
                height: 550px;
                transition: all 0.1s ease-in-out;
                @media (min-width: 1200px) and (max-width: 1440px) {
                    height: 450px;
                }
                @media (min-width: 1024px) and (max-width: 1199px) {
                    height: 400px;
                }
                @media (max-width: 1023px) {
                    height: 450px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(0deg, rgba(242, 171, 67, 0.56) 0%, rgba(242, 171, 67, 0.56) 100%);
                    opacity: 0;
                }
                img {
                    border-radius: 10px 10px 0px 0px;
                }
            }

            .explore-the-diversity-card-content {
                background-color: $pinkDark;
                transition: all 0.1s ease-in-out;
                width: 100%;
                padding: 24px 10px;
                color: $brown;
                text-align: center;
                font-family: $Livvic-Bold;
                &.white {
                    background-color: $white;
                }
                @media (min-width: 1024px) and (max-width: 1199px) {
                    padding: 18px 10px;
                }
            }

            &:hover {
                .explore-the-diversity-card-img-wrapper {
                    &::after {
                        opacity: 1;
                    }
                }
                .explore-the-diversity-card-content {
                    background-color: $lightYellow;
                }
            }
        }
    }

}

.did-you-know-slider-wrapper {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 80px;
    @media (min-width: 1024px) and (max-width: 1199px) {
        max-width: 100%;
        padding: 0 50px;
    }
    .did-you-know-title {
        position: absolute;
        z-index: 1;
        left: 35%;
        top: 0;
        width: 35%;
        @media (max-width: 1023px) {
            top: 50%;
        }
        @media (max-width: 767px) {
            width: 260px;
            left: 50%;
            transform: translateX(-50%);
            top: 47%;
        }
    }

    .did-you-know-slider {
        position: relative;
        .slick-arrow {
            top: unset;
            bottom: 40px;
            z-index: 1;
            background: rgba(255, 255, 255, 0.3);
            width: 48px;
            height: 48px;
            border-radius: 100%;
            @media (min-width: 768px) and (max-width: 1023px) {
                bottom: 20px;
                width: 38px;
                height: 38px;
            }

            @media (max-width: 767px) {
                bottom: 15px;
                width: 32px;
                height: 32px;
            }
            &.slick-next,
            &.slick-prev {
                &::before {
                    content: "" !important;
                    background-image: url("../../assets/images/arrow-small-right.svg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    opacity: 1;
                }
            }
            &.slick-disabled {
                opacity: 0.6;
            }
            &.slick-next {
                right: 40px;
                @media (min-width: 768px) and (max-width: 1023px) {
                    right: 30px;
                }
                @media (max-width: 767px) {
                    right: 40%;
                }
            }
            &.slick-prev {
                left: unset;
                right: 104px;

                @media (min-width: 768px) and (max-width: 1023px) {
                    right: 90px;
                }

                @media (max-width: 767px) {
                    right: unset;
                    left: 40%;
                }

                &::before {
                    transform: scale(-1);
                }
            }
        }
        .slick-list {
            .slick-track {
                .did-you-know-slider-item {
                    @include flex(null, null, null, null);
                    @media (max-width: 1023px) {
                        @include flex(null, null, null, column);
                    }
                    .did-you-know-slider-img-wrapper {
                        height: 600px;
                        width: 60%;
                        @media (min-width: 1024px) and (max-width: 1199px) {
                            height: 480px;
                        }
                        @media (max-width: 1023px) {
                            width: 100%;
                            height: 450px;
                        }

                        @media (max-width: 767px) {
                            height: 350px;
                        }
                        img {
                            border-radius: 10px 0 0 10px;
                            width: 100%;
                            @media (max-width: 1023px) {
                                border-radius: 0;
                            }
                        }
                    }

                    .did-you-know-slider-content {
                        width: 40%;
                        padding-left: 40px;
                        padding-right: 20spx;
                        background-color: $lightBlue;
                        border-radius: 0px 10px 10px 0px;
                        @include flex(flex-start, center, null, column);
                        @media (min-width: 1024px) and (max-width: 1199px) {
                            padding-left: 30px;
                            padding-right: 15px;
                        }
                        @media (max-width: 1023px) {
                            border-radius: 0;
                            width: 100%;
                            padding: 80px 20px;
                            text-align: center;
                        }
                        @media (max-width: 767px) {
                            padding: 60px 20px 90px;
                        }
                        h5 {
                            max-width: 485px;
                            margin-right: 0;
                            margin-bottom: 24px;
                            color: $white;
                            @media (min-width: 768px) and (max-width: 1023px) {
                                max-width: 100%;
                                width: 100%;
                            }
                            @media screen and (max-width: 767px){
                                max-width: 100%;
                                width: 100%;
                            }
                        }

                        .btn {
                            @media (max-width: 1023px) {
                                margin:  0 auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

.explore-wild-life-wrapper {
    background-image: url("../../assets/images/favourate-bg-brown.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    padding: 140px 0 120px;
    padding-bottom: 200px;
    position: relative;
    z-index: 3;
    display: inline-block;
    h2 {
        margin-bottom: 90px;
    }

    .explore-wild-life-slider {
        margin-bottom: 50px;
        .slick-arrow {
            top: -80px;
            z-index: 1;
            background: rgba(255, 255, 255, 0.3);
            width: 48px;
            height: 48px;
            border-radius: 100%;
            @media (min-width: 1024px) and (max-width: 1199px) {
                top: -80px;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                width: 38px;
                height: 38px;
            }
            @media (max-width: 767px) {
                top: -50px;
                width: 32px;
                height: 32px;
            }
            &.slick-next,
            &.slick-prev {
                &::before {
                    content: "" !important;
                    background-image: url("../../assets/images/arrow-small-right.svg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    opacity: 1;
                }
            }
            &.slick-disabled {
                opacity: 0.6;
            }
            &.slick-next {
                right: 138px;
                @media (min-width: 1024px) and (max-width: 1199px) {
                    right: 70px;
                }
                @media (min-width: 768px) and (max-width: 1023px) {
                    right: 30px;
                }
                @media (max-width: 767px) {
                    right: 40%;
                }
            }
            &.slick-prev {
                left: unset;
                right: 202px;

                @media (min-width: 1024px) and (max-width: 1199px) {
                    right: 135px;
                }
                @media (min-width: 768px) and (max-width: 1023px) {
                    right: 90px;
                }

                @media (max-width: 767px) {
                    right: unset;
                    left: 40%;
                }

                &::before {
                    transform: scale(-1);
                }
            }
        }
        .slick-list {
            .slick-track {
                .explore-wild-life-slider-item {
                    margin: 0 10px;
                    .explore-wild-life-slider-item-img-wrapper {
                        height: 450px;
                        margin-bottom: 24px;
                        @media (min-width: 768px) and (max-width: 1023px) {
                            height: 380px;
                        }
                        img {
                            width: 100%;
                            border-radius: 10px 10px 0px 0px;
                        }
                    }

                    .explore-wild-life-slider-item-content {
                        a {
                            h6 {
                                color: $white;
                                margin-bottom: 10px;
                            }
                        }

                        .explore-wild-life-slider-item-author-details {
                            span {
                                color: $white;
                                @extend .text-16;
                                font-family: $Livvic;
                                font-weight: 400;

                                strong {
                                    font-weight: normal;
                                    letter-spacing: 1px;
                                    font-family: $Livvic-Bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .btn {
        width: fit-content;
        margin: 0 auto;
    }
}