// Variables
$white: #fff;
$black: #000;
$bodyBg: #FFF6E9;
$pink: #F7E5CC;
$pinkLight: #FFF0D9;
$pinkDark: #F2D7AF;
$pinkDark1: #C19375;
$lightBrown: #F7E2C4;
$mudBrown: #AE8540;
$mudBrown2: #A57E3D;
$brown: #402717;
$darkBrown: #26201B;
$darkBrown1: #7F5D41;
$lightGreen: #DDE2C7;
$darkGreen: #4E552C;
$darkGreen2: #636930;
$darkGreen3: #414141;
$lightBlue: #4D678C;
$lightYellow: #F2AB43;
$yellow: #80836e;
$brightYellow: #ED940F;
$brightYellow1: #DE8C11;
$orange: #EF7B27;
$red: #E91D1D;
$success: #28a745;
$danger: #dc3545;